{% extends '::base.html.twig' %}
{% block stylesheets%}
<style>
    table tr th{width:100px;}
</style>
{%endblock%}
{% block body -%}
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-edit"></i> Editar Empleado/Cliente</h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
    </div>
    <!-- end row -->
    {{ form_start(edit_form,{'attr':{'class':'form-inline'}}) }}
        <table class="table table-condensed">
            <tr>
                <th>Empleado</th>
                <td>{{form_widget(edit_form.empleado)}}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{form_widget(edit_form.cliente)}}</td>
            </tr>
            <tr>
                <th>Punto de Venta</th>
                <td>{{form_widget(edit_form.puntoVenta)}}</td>
            </tr>
            <tr>
                <th>Fecha Asignacion</th>
                <td>{{form_widget(edit_form.fechaAsignacion)}}</td>
            </tr>
            <tr>
                <th>Meta Visitas Mes</th>
                <td>{{form_widget(edit_form.metaVisitasMes)}}</td>
            </tr>
            <tr>
                <th>Meta Venta Mes</th>
                <td>{{form_widget(edit_form.metaVentasMes)}}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{form_widget(edit_form.estado)}}</td>
            </tr>
        </table>
        <div style="display:none">{{form_rest(edit_form)}}</div>
        <a href="{{ path('empleadocliente') }}" class="btn btn-info">
           Cancelar
        </a> <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
     {{ form_end(edit_form) }}
    {% if is_granted('ROLE_ADMIN')%}
    {{ form(delete_form) }}
   {% endif %}
{% endblock %}
