{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EmpleadoCliente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaasignacion</th>
                <th>Estado</th>
                <th>Metavisitasmes</th>
                <th>Metaventasmes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empleadocliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaAsignacion %}{{ entity.fechaAsignacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.metaVisitasMes }}</td>
                <td>{{ entity.metaVentasMes }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('empleadocliente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('empleadocliente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('empleadocliente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
