{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PuntoVenta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Numerodocumento</th>
                <td>{{ entity.numerodocumento }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ entity.telefono1 }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ entity.correoelectronico }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ entity.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ entity.longitud }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('puntoventa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('puntoventa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
