{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-plus-square-o"></i> Nuevo Producto </h1>
        </div>
    </div>

    {{ form_start(form,{'attr':{'role':'form', 'class': 'form-inline'}}) }}
        <table class="table table-condensed">
            <tr>
                <th>Referencia</th>
                <td>{{form_widget(form.referencia, {'attr': {'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{form_widget(form.nombre, {'attr': {'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Descripci&oacute;n</th>
                <td>{{form_widget(form.descripcion, {'attr': {'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Precio Unidad Comercial</th>
                <td>{{form_widget(form.precioUnidadComercial, {'attr': {'class': 'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Precio Forma Farmaceutica</th>
                <td>{{form_widget(form.precioFormaFarmaceutica, {'attr': {'class': 'form-control'}})}}</td>
            </tr>
            <tr>
                <th>L&iacute;nea</th>
                <td>{{form_widget(form.linea, {'attr': {'class': 'form-control'}})}}</td>
            </tr>
        </table>
        <div style="display:none">{{form_widget(form.estado)}}</div>
        <div style="display:none">{{form_rest(form)}}</div>
        <button type="button" id="button-delete" class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</button>
        <a href="{{ path('producto') }}" class="btn btn-info">Cancelar</a> 
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
    {{ form_end(form) }}
{% endblock %}
