{% extends '::base.html.twig' %}
{% block stylesheets%}
<style>
    table tr th{width:100px;}
</style>
{%endblock%}
{% block body -%}
    
    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-plus-square-o"></i> Crear Empleado </h1>
        </div>
    </div>
    
    {{ form_start(form, {'attr':{'class':'form-inline'}}) }}
        <table class="table table-condensed">
            <tr>
                <th>C&oacute;digo</th>
                <td>{{form_widget(form.codigo, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{form_widget(form.nombre, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Tel&eacute;fono</th>
                <td>{{form_widget(form.telefono, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{form_widget(form.departamento, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Tipo Empleado</th>
                <td>{{form_widget(form.tipoEmpleado, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Geo Ubicaci&oacute;n</th>
                <td>{{form_widget(form.geoUbicacion, {'attr':{'class':'form-control'}})}}</td>
            </tr>
        </table>

        <div style="display:none">{{form_widget(form.estado)}}</div>
        <div style="display:none">{{form_rest(form)}}</div>
        <a href="{{ path('empleado') }}" class="btn btn-info">Cancelar</a>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
     {{ form_end(form) }}
{% endblock %}
