{% extends '::base.html.twig' %}
{% block stylesheets%}
<style>
    table tr th{width:100px;}
</style>
{%endblock%}
{% block body -%}
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-plus-square-o"></i> Nuevo Departamento</h1>
        </div>
    </div>
    
    {{ form_start(form, {'attr':{'class':'form-inline'}}) }}
        <table class="table table-condensed">
            <tr>
                <th>Codigo</th>
                <td>{{form_widget(form.codigo, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{form_widget(form.nombre, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Tel&eacute;fono</th>
                <td>{{form_widget(form.telefono,{'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Compañia</th>
                <td>{{form_widget(form.compania, {'attr':{'class':'form-control'}})}}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{form_widget(form.estado, {'attr':{'class':'form-control'}})}}</td>
            </tr>
        </table>
        <div style="display:none">{{form_rest(form)}}</div>
        <a href="{{ path('departamento') }}" class="btn btn-info">
           Cancelar
        </a> <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
     {{ form_end(form) }}
{% endblock %}
