{% extends '::base.html.twig' %}

{% block body -%}

	<div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-plus-square-o"></i> Nuevo Cliente </h1>
        </div>
        <!-- right side of the page with the sparkline graphs -->
    </div>

    {{ form_start(form,{'attr':{'class':'form-inline'}}) }}
    	<table class="table table-condensed">
            <tr>
                <th>Razon Social</th>
                <td>{{form_widget(form.razonSocial)}}</td>
            </tr>
            <tr>
                <th>Tipo Documento</th>
                <td>{{form_widget(form.tipoDocumento)}}</td>
            </tr>
            <tr>
                <th>Numero Documento</th>
                <td>{{form_widget(form.numeroDocumento)}}</td>
            </tr>
            <tr>
                <th>Direcci&oacute;n</th>
                <td>{{form_widget(form.direccion)}}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{form_widget(form.telefono)}}</td>
            </tr>
            <tr>
                <th>Correo Electronico</th>
                <td>{{form_widget(form.correoElectronico)}}</td>
            </tr>
            <tr>
                <th>Tipo Cliente</th>
                <td>{{form_widget(form.tipoCliente)}}</td>
            </tr>
        </table>
        <div style="display:none">{{form_rest(form)}}</div>
        <a href="{{ path('cliente') }}" class="btn btn-info">Cancelar</a>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
    {{ form_end(form) }}

</ul>
{% endblock %}
