{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-plus-square-o"></i> Nuevo Pedido</h1>
        </div>
    </div>

    {{ form_start(form,{'attr':{'class':'form-inline'}}) }}
    	<table class="table table-condensed">
            <tr>
                <th>Cliente</th>
                <td>{{form_widget(form.cliente)}}</td>
            </tr>
            <tr>
                <th>Punto de Venta</th>
                <td>{{form_widget(form.puntoVenta)}}</td>
            </tr>
            <tr>
                <th>Fecha Entrega</th>
                <td>{{form_widget(form.fechaEntrega)}}</td>
            </tr>
        </table>

        <div style="display:none">{{form_widget(form.estado)}}</div>
        <div style="display:none">{{form_rest(form)}}</div>
        <a href="{{ path('pedido') }}" class="btn btn-info">Cancelar</a>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>

    {{ form(form) }}

{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){
    $('#smath_ventasbundle_pedido_cliente').on('change', function(){
        var target = $('#smath_ventasbundle_pedido_puntoVenta');
        $.ajax({
            type: 'GET',
            url: '{{ path('puntoventa_select', {id: '__id'}) }}'.replace('__id', $(this).val()),
            dataType: 'json',
            success: function( json ) {
                target.find('option').remove();
                target.append($('<option>', {value:'', text:'-- Seleccione --'}));
                $.each(json, function(i, v) {
                    target.append($('<option>', {value:i, text:v.option}));
                });
            }
        });
    });
});
</script>
{%endblock%}
